# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# git
.gitignore

# IDE
.idea
.classpath
.project
*.iml
.settings/

# project directory
target/
logs/

# tmp file
# mac finder produce this
.DS_Store
